.menu__container {
  width: 100vw;
  height: 100vh;
  font-family: "Amazon Ember";
  position: absolute;
  top: 0;
  left: -200%;
  width: 360px;
  display: flex;
  flex-direction: column;
  transition: 500ms;
}

.menu__container.active {
  left: 0;
  z-index: 3;
}

.menu__login {
  height: 50px;
  background-color: #232f3e;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login__text {
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
.menu__icon {
  margin: 0 10px 0 36px;
  width: 26px;
  object-fit: contain;
}

.menu__list {
  color: #ffffff;
}
